.footer {
  background-color: $color-background;
  padding-top: 60px;
  padding-bottom: 60px;

    &__container {
      @extend .container;
      display: flex;
      align-items: baseline;
    }

    &__box {
      margin-right: 70px;
      width: 231px;
    }
}